.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top:50px ;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 35px;
    font-weight:900 ;
}
.hero h1 span{
    background:linear-gradient(#256dda  10%, #0ae095 100%) ;
    background-clip: text;
    -webkit-background-clip:text ;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px
}
.hero-connect{
    padding: 20px 35px;
    border-radius: 50px;
    background:linear-gradient(#256dda 0.30%, #0ae095 100.06%) ;
    cursor: pointer;
}
.hero-resume{
    padding: 20px 50px;
    border-radius: 50px;
    border:2px solid #e0d7d7;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #256dda;

}
@media(max-width:768px){
    .hero img{
        margin-bottom: 50px;
        width: 260px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;        
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius:40px ;
    }
}